body{
    background-color: #1c1c1c;
    color: #98FB98;
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
a{
    color: #98FB98;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
}
a:hover{
    color: azure;
    transition: 0.03s all;
}
li{
    display: inline-block;
    margin: 20px;
}

main{
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
article{
    position: relative;
    left: 125px;
   
}
h2{
    font-size: 50px;
    line-height: 10px;
}
p{
    line-height: 20px;
    max-height: 500px;
}
footer{
    text-align: center;
}